[Desktop Entry]
Type=Application
Name=Tayf
GenericName=Lottie Animation Viewer
Comment=Preview and inspect Lottie animations
Exec=tayf %f
Icon=tayf
Terminal=false
Categories=Graphics;Viewer;
MimeType=application/zip+dotlottie;application/json;
StartupWMClass=tayf
Keywords=lottie;animation;viewer;
